APP_NAME="lms-api"
APP_ENV="development"

JWT_SECRET="1234433432qggag"
HTTP_URL="127.0.0.1"
HTTP_PORT="8080"
HTTP_ALLOWED_ORIGINS="http://127.0.0.1:3000"

DB_CONNECTION="postgres"
DB_DEBUG=true
DB_AUTO_MIGRATE=true
DB_SOURCE=postgresql://root:secret@localhost:5432/somtu?sslmode=disable


FS_TYPE=s3
FS_LOCATION=./uploads

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=workspace-uploads
